html {
	background-color: #869960;
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 87%;
}

header {
	padding-top: 10px;
	color: #617140;
}

.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}

.content-area {
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}
img {
	width: 150px;
	border: 1px black solid;
	border-radius: 50%;
	padding: 10px;
}

.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

.sidebar {
	width: 34%;
	float: left;
	background-color: #e5e9dc;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	font-size: 85%;
}

.fix {
	clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

*/
