h1{
    color: white;
    background-color: black;
	text-align: center;
}

header div{
	text-align: center;
}

body{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div{
	text-align: left;
}



p{
	font-size 14px;
}

.bgcolor{
	background-color: papayawhip;
}
footer .ftr{
	font-size: 12px;	
}

footer span{
	color: red;	
}

img {
	width: 150px;
	border: 1px black solid;
	border-radius: 50%;
	padding: 10px;
}